.sectionContact{
    background-color: rgba(92, 117, 146, .9);
    width: 95vw;
}

.formContact {
    width: 800px;
}

.subtituloContact {
    font-size: 18px;
}

textarea{
    height: 250px;
}

#sendForm{
    background-color: var(--color-principal);
}

@media (min-width: 500px) {

    .sectionContact {
        width: 75vw;
    }
    .subtituloContact {
        font-size: 24px;
    }

}

@media (min-width: 1024px) {

    .subtituloContact {
        font-size: 28px;
    }
}