.tarjeta{
    background-color: #223142;
    color: var(--color-secundario);
    box-sizing: content-box;
}

.nameCharacter {
    width: 300px;
    height: 70px;
}

.buttonCard{
    background-color: var(--color-secundario);
    color: #223142;
}

.Atributo:hover {
    color: var(--color-principal);
    background-color: var(--color-secundario);
}

.listaAtributos{
    width: 270px;
    font-size: 21px;
}

.TituloAtributo{
    font-weight: 700;
}

@media (min-width:680px) {

    .frontCard {
        height: 430px;
    } 
    .characterCard{
        flex-direction: row !important;
    }
    .listaAtributos{
        width: 292px;
    }
}
