.sectorFilterXL {
    display: none;
}

.FilterMobile {
    background-color: var(--color-principal);
    color: var(--color-secundario);
}

.ErrorMessage {
    background-color: var(--color-secundario);
    color: var(--color-principal);
}

@media (min-width:768px) {
    .sectorFilterMobile {
        display: none;
    }
    .sectorFilterXL {
        display: block !important;
    }
}