.cuadroPrincipal{
    background-color: #ffffffe6;
    width: 600px;
}

.tituloHome{
    color: var(--color-principal);
    font-size: 32px;
    font-weight: var(--peso-fuente);
}

p{
    text-align: center;
    color: var(--color-principal);
    font-weight: var(--peso-fuente);
}

@media (min-width:768px) {
    .homePage{
        height: 100vh;
    }
}

@media (min-width:425px) {
    .tituloHome {
        font-size: 40px;
    }
    .subtitulo {
        font-size: 30px;
    }
}