:root{
    --color-principal: #344D67;
    --color-secundario: #6ECCAF;
    --peso-fuente: 500;
}

.homePage{
    height: 100vh;
}

.cuadroPrincipal{
    background-color: #ffffffe6;
    width: 600px;
}

.tituloHome{
    color: var(--color-principal);
    font-size: 42px;
    font-weight: var(--peso-fuente);
}

h2{
    color: var(--color-principal);
    font-size: 30px;
    font-weight: var(--peso-fuente);
}

p{
    text-align: center;
    color: var(--color-principal);
    font-weight: var(--peso-fuente);
}