:root{
  --color-principal: #344D67;
  --color-secundario: #6ECCAF;
  --peso-fuente: 500;
}

body {
  box-sizing: border-box; 
  background-image: url(./assets/rickymorty.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Raleway", serif;
}

.subtitulo {
  color: var(--color-principal);
  font-size: 24px;
  font-weight: var(--peso-fuente);
}
