nav{
    position: sticky;
    top: 0px;
    padding: 20px;
    height: 150px;
    background-color: var(--color-principal);
    color: var(--color-secundario);
    font-weight: var(--peso-fuente);
}

.botonNavHome{
    padding: 40px 80px;
    font-size: 20px;
    color: var(--color-secundario);
}

ul{
    list-style: none;
}

.botonNav{
    color: var(--color-secundario);
}

.botonNav:hover{
    background-color: var(--color-secundario);
    color: var(--color-principal);
    border-radius: 5px;
}

.xl{
    display: none;
}


@media (min-width: 720px) {
    .mobiles{
        display: none;
    }
    .xl{
        display: flex;
    }
}